pandas
scipy
seaborn
dash
plotly
gunicorn
streamlit
streamlit-option-menu
streamlit-folium
folium
matplotlib
statsmodels
geopandas
pymongo
shapely
pyproj
fiona
streamlit-option-menu
streamlit-folium
Pillow
